.index {
  width: 100vw;
  height: 100vh;

}

.players {
  display: flex;
  flex-direction: column;
  padding-left: 25vw;
  padding-top: 20vh;
}

.player-result-card {
  height: 37pt;
  display: flex;
  align-items: center;
  margin-bottom: 15pt;
}

.avatar-winner-container {
  display: flex;
  align-items: center;
  position: relative;
}

.avatar {
  width: 42pt;
  height: 42pt;
}

.end-page-player-frame-score {
  margin-left: 15pt;
  margin-top: 6pt;
  line-height: 37pt;
}

.winner {
  transform: scale(0.1);
  position: absolute;
}

.new-round {
  position: fixed;
  top: 70vh;
  left: 30vw;
  width: 80pt;
  height: 40pt;
}

.new-round:active {
  filter: brightness(0.8);
}
